.password-gate {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #fff0f5;
}

.password-form {
  background: #fff0f5;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}

.password-form input {
  padding: 0.5rem;
  width: 100%;
  margin: 1rem 0;
}

.password-form button {
  padding: 0.5rem 1rem;
  background-color: #fff0f5;
  color: black;
  border: none;
  border-radius: 8px;
}

.error {
  color: red;
  font-size: 0.9rem;
}
